.box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.view {
  width: 20%;
}

.viewcontainer {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.welcome {
  justify-content: left;
}